.card {
    width: 25rem;
    margin: 1rem auto;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    background-color: white;
    
  }

.card h2 {
    text-align: center;
    margin: 0 auto 0.5rem auto
}

.card input{
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
}

.card button {
    display:block;
    margin: 15px auto 0 auto;    
    padding: 10px 20px;
}

.card form {
    padding: 0 10px;
}